<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235954219447-j2d02pbvuupm7fjnrd8mjcfngg8jii2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235954219447-j2d02pbvuupm7fjnrd8mjcfngg8jii2o</string>
	<key>API_KEY</key>
	<string>AIzaSyBJT5K9KfWAPCPDYnvONCfuXV4b6KbqFZc</string>
	<key>GCM_SENDER_ID</key>
	<string>235954219447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>group-chat-eaa92</string>
	<key>STORAGE_BUCKET</key>
	<string>group-chat-eaa92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235954219447:ios:36dac943e558e0cbbca032</string>
</dict>
</plist>